<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
  <a href="/">home</a>
  <a href="/saved">Saved Restaurants</a>
    {{{body}}}
  </body>
</html>
