<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
  </head>
  <body>

  <div id="title"><h1>{{title}}</h1></div>
  <div id="tablink" class="tablink">
      <a id="home" class="nav"  href="/">Home</a>
      <a id="saved" class="nav" href="/saved">Saved Restaurants</a>
      <a id="saved" class="nav" href="/about">About</a>
  </div>
<br>
  <hr>
    {{{body}}}
  </body>
</html>
